.grid{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.row{
    display: flex;
    width: 100%;
}

.square{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    aspect-ratio: 1/1;
}